.background-effect .circles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.background-effect .circles li {
    position: absolute;
    bottom: -150px;
    display: block;
    background-color: rgb(79 70 229 / .3);
    -webkit-animation: 25s linear infinite animate;
    animation: 25s linear infinite animate
}

.background-effect .circles li.brand-img:first-child,
.background-effect .circles li.brand-img:nth-child(10),
.background-effect .circles li.brand-img:nth-child(2),
.background-effect .circles li.brand-img:nth-child(3),
.background-effect .circles li.brand-img:nth-child(4),
.background-effect .circles li.brand-img:nth-child(5),
.background-effect .circles li.brand-img:nth-child(6),
.background-effect .circles li.brand-img:nth-child(7),
.background-effect .circles li.brand-img:nth-child(8),
.background-effect .circles li.brand-img:nth-child(9) {
    background-color: transparent
}

.background-effect .circles li:first-child,
.background-effect .circles li:nth-child(10),
.background-effect .circles li:nth-child(2),
.background-effect .circles li:nth-child(3),
.background-effect .circles li:nth-child(4),
.background-effect .circles li:nth-child(5),
.background-effect .circles li:nth-child(6),
.background-effect .circles li:nth-child(7),
.background-effect .circles li:nth-child(8),
.background-effect .circles li:nth-child(9) {
    height: 3rem;
    width: 3rem
}

.background-effect .circles li:first-child {
    left: 25%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.background-effect .circles li:nth-child(2) {
    left: 10%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s
}

.background-effect .circles li:nth-child(3) {
    left: 70%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.background-effect .circles li:nth-child(4) {
    left: 40%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 18s;
    animation-duration: 18s
}

.background-effect .circles li:nth-child(5) {
    left: 65%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.background-effect .circles li:nth-child(6) {
    left: 75%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.background-effect .circles li:nth-child(7) {
    left: 35%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s
}

.background-effect .circles li:nth-child(8) {
    left: 50%;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 45s;
    animation-duration: 45s
}

.background-effect .circles li:nth-child(9) {
    left: 20%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 35s;
    animation-duration: 35s
}

.background-effect .circles li:nth-child(10) {
    left: 85%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 11s;
    animation-duration: 11s
}


@keyframes animate {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        opacity: 1;
        border-radius: 10px
    }

    100% {
        -webkit-transform: translateY(-1000px) rotate(720deg);
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0
    }
}