
.choices__inner {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.dark .choices__inner {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity))
}

.choices[data-type*=select-one] .choices__input,
.choices__list--dropdown {
    z-index: 999;
    border-radius: 5px;
    border-width: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
    --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.dark .choices[data-type*=select-one] .choices__input,
.dark .choices__list--dropdown {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    --tw-shadow-color: #1f2937;
    --tw-shadow: var(--tw-shadow-colored)
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(22 28 45 / var(--tw-text-opacity))
}

.dark .choices__list--dropdown .choices__item--selectable.is-highlighted {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.choices__list,
.choices__list--dropdown .choices__item--selectable {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity))
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    z-index: 2;
    border-width: 0
}
