#token-sale .count-number .count-head {
    position: relative;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1px
}

@media (min-width:768px) {
    #token-sale .count-number .count-head {
        margin-top: -1.25rem;
        font-size: 1rem;
        line-height: 1.5rem
    }
}